$primaryColor: #337ab7;


body {
  
  min-width: 233px;
  
  color: $primaryColor;
  font-weight: bold;
  
}

.custom-border{
  
  margin-top: 10px;
  width: 60%;
  
  padding-top: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #337ab7;
  
}

@media only screen and (max-width: 310px){
  .custom-border {
    width: 80%;
  }
}

@media only screen and (min-width: 812px){
  .custom-border {
    width: 40%;
  }
}
